a {
  color: #1b72da;
  text-decoration: none;
}

a:hover, a:active {
  color: #155aad;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}

body {
  font-size: 0.8rem;
}

h1 {
  font-size: 0.8rem;
}

h2 {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}

.table-border {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-border td, .table-border th {
  border: 1px solid #ccc;
  padding: 10px 5px;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 6px;
  font-size: 0.7rem;
  color: #333;
  outline: none;
  text-decoration: none;
  text-align: center;
}

.btn:hover, .btn:active {
  background-color: #f2f2f2;
}

.btn-primary {
  background-color: #4489dc;
  border-color: #2f7bd8;
  color: #fff;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #256fc8;
  color: #fff;
}

.page-read {
  color: #333;
  padding-bottom: 30px;
}

.page-read h1 {
  text-align: center;
}

.page-read .content {
  font-size: .7rem;
}

.page-read .content p {
  margin: 10px 0;
  text-indent: 2em;
}

.page-read .btn-submit {
  margin: 30px auto 0 auto;
  display: block;
  width: 240px;
}

.page-main {
  padding-bottom: 30px;
}

.page-main > .btn-back {
  font-size: 0.7rem;
  color: #777;
}

.page-main > .tips {
  margin-top: 10px;
  font-size: 0.7rem;
  color: #333;
  text-align: center;
}

.agreement-group .btn-group {
  margin-top: 15px;
}

.sign-btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.sign-btn-group a {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100px;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  text-align: center;
}

.sign-prompt {
  margin: 8px 0;
  font-size: 0.65rem;
  color: #999;
}

.hide {
  display: none;
}

.canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px solid #999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-group {
  margin: 10px 0;
}

.input-control {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.8rem;
}

.btn-group {
  text-align: center;
}

.btn-group .btn {
  min-width: 100px;
}

.btn-group .btn + .btn {
  margin-left: 15px;
}

.no-download > .btn-back {
  font-size: 0.7rem;
  color: #777;
}

.no-download > .tips {
  margin: 10px 0;
  font-size: 0.7rem;
  color: #666;
  text-align: center;
}

.no-download > img {
  display: block;
  width: 100%;
  height: auto;
}
